/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
resources/views/admin/
resources/views/notify/
resources/views/partials/
resources/views/requester/layouts/
resources/views/requester/notify/
resources/views/requester/partials/
resources/views/requester/templates/
resources/views/responder/
